<h1>Listing assignments</h1>

<% @assignments.each do |assignment| %>
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" data-src="holder.js/64x64">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <%= assignment.title %>
      </h4>
      <div class="media">
    <%= assignment.circle_id %>，
    <%= DateTime.parse(assignment.validate.to_s).strftime("%Y年%m月%d日%H时%M分").to_s %>开始生效，
    <%= assignment.invalidate %>结束。<br />
    <%= assignment.discription %>
    <%= link_to 'Show', assignment,:class=>"btn" %>
    <%= link_to 'Edit', edit_assignment_path(assignment),:class=>"btn" %>
    <%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?'},:class=>"btn" %>
<% end %>
