<%= form_for @user, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
    <fieldset>
      <legend>修改<i class="icon-user"></i><%= current_user.name %>的信息</legend>
      <div class="control-group">
        <%= f.label :name, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :email, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :email %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :avatar, :class => "control-label" %>
        <div class="controls">
          <%= f.file_field :avatar %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :address, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :address %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :birth, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :birth, :id => "birth", :input_html => {:data => 'datepicker'}, :use_month_numbers => true %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :industry, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :industry %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit " 更新 ", :class => "btn" %>
        </div>
      </div>
    </fieldset>
<% end %>

<script type="text/javascript">
    $(document).ready(function () {
        $('#birth').datepicker({
            format:'yyyy-mm-dd'
        });
    });
</script>
