  <%= form_for(@user,:html => {:class =>"form-horizontal"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset><legend>注册到这个站</legend>
  <div class="control-group">
    <%= f.label :name,"昵称", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email,"电子邮件", :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password,"密码", :class=>"control-label" %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation,"密码确认", :class=>"control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
    <%= f.submit "注册", :class=>"btn" %>
  </div>
</div>
</fieldset>
<% end %>
