<h3>Listing categories</h3>

<% @categories.each do |category| %>
  <div class="row">
    Super Category:<%= category.sup_category %>
    Category Title:<%= category.title %>
  </div>
    <%= link_to 'Show', category %>
    <%= link_to 'Edit', edit_category_path(category) %>
    <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
  
<% end %>

<br />

<%= link_to 'New Category', new_category_path %>
