<% unless current_user.blank? %>
  <div class="span4">
    <div class="btn-toolbar">
      <%= user_face(current_user) %>
    </div>
  </div>
  <div class="span8">
    <div class="btn-toolbar">
      <div class="btn-group">
        <a href ="/categories" class="btn"><i class="icon-th"></i> 题库</a>
        <a href="/homeworks"class="btn"><i class="icon-pencil"></i>作业本</a>
        <a class="btn">3</a>
      </div>
      <div class="btn-group">
        <a href="/circles" class="btn"><i class="icon-plus"></i> 圈子</a>
        <%= link_to raw('<i class="icon-user"></i> 人个信息'), user_path(current_user), class: "btn" %>
        <%= link_to current_user.receiver.count.to_s,messages_path, class: "btn" if current_user.receiver.count > 0%>
      </div>
      <!-- /btn-group -->
      <a href="/logout" data-method="delete" class="btn"><i class="icon-off"></i> 退出系统</a>
    </div>
    <% if self.controller_name == "circles" %>
    <% elsif self.controller_name == "users" %>

      <div class="btn-group">
        <button class="btn"><%= current_user.name %></button>
        <%= link_to raw('<i class="icon-pencil"></i> edit profile'), edit_user_path(current_user), :class => "btn" %>
      </div>
    <% elsif ["categories","depots","assignments"].include? self.controller_name %>
      <% elsif ["homeworks"].include? self.controller_name %>
      <div class="btn-group">
        
      </div>
      <% end %>
    </div>
  <% else %>
    <%= render :partial => "/sessions/header" %>
  <% end %>
