
<div id="option_a">
  <div class="control-group">
    <label class="control-label">A</label>
    <div class="controls">
      <%= f.text_area :item_a, :rows => 3%>
      <%= f.radio_button :keys, "A" %>
    </div>
  </div>
  <div class="control-group" id="btn_a">
    <div class="controls">

      <button class="btn" type="button" id="btn_add_b">Add B</button>

    </div>
  </div>
</div>
<div id="option_b">
  <div class="control-group">
    <label class="control-label">B</label>
    <div class="controls">
      <%= f.text_area :item_b, :rows => 3 %>
      <%= f.radio_button :keys, "B" %>
    </div>
  </div>
  <div class="control-group" id="btn_b">
    <div class="controls">
      <div class="btn-group">
        <button class="btn" type="button" id="btn_add_c">Add C</button>
        <button class="btn" type="button" id="btn_del_b">delete B</button>
      </div>
    </div>
  </div>
</div>
<div id="option_c">
  <div class="control-group">
    <label class="control-label">C</label>

    <div class="controls">
      <%= f.text_area :item_c, :rows => 3 %>
      <%= f.radio_button :keys, "C" %>
    </div>
  </div>
  <div class="control-group" id="btn_c">
    <div class="controls">
      <div class="btn-group">
        <button class="btn" type="button" id="btn_add_d">Add D</button>
        <button class="btn" type="button" id="btn_del_c">delete C</button>
      </div>
    </div>
  </div>
</div>
<div id="option_d">
  <div class="control-group">
    <label class="control-label">D</label>

    <div class="controls">
      <%= f.text_area :item_d, :rows => 3 %>
      <%= f.radio_button :keys, "D" %>
    </div>
  </div>
  <div class="control-group" id="btn_d">
    <div class="controls">
      <div class="btn-group">
        <button class="btn" type="button" id="btn_add_e">Add E</button>
        <button class="btn" type="button" id="btn_del_d">delete D</button>
      </div>
    </div>
  </div>
</div>
<div id="option_e">
  <div class="control-group">
    <label class="control-label">E</label>

    <div class="controls">
      <%= f.text_area :item_e, :rows => 3 %>
      <%= f.radio_button :keys, "E" %>
    </div>
  </div>
  <div class="control-group" id="btn_e">
    <div class="controls">
      <div class="btn-group">
        <button class="btn" type="button" id="btn_add_f">Add F</button>
        <button class="btn" type="button" id="btn_del_e">delete E</button>
      </div>
    </div>
  </div>
</div>
<div id="option_f">
  <div class="control-group">
    <label class="control-label">F</label>

    <div class="controls">
      <%= f.text_area :item_f, :rows => 3 %>
      <%= f.radio_button :keys, "F" %>
    </div>
  </div>
  <div class="control-group" id="btn_f">
    <div class="controls">
      <div class="btn-group">
        <button class="btn" type="button" id="btn_add_g">Add G</button>
        <button class="btn" type="button" id="btn_del_f">delete F</button>
      </div>
    </div>
  </div>
</div>
<div id="option_g">
  <div class="control-group">
    <label class="control-label">G</label>

    <div class="controls">
      <%= f.text_area :item_g, :rows => 3 %>
      <%= f.radio_button :keys, "G" %>
    </div>
  </div>
  <div class="control-group" id="btn_g">
    <div class="controls">
      <div class="btn-group">
        <button class="btn" type="button" id="btn_add_h">Add H</button>
        <button class="btn" type="button" id="btn_del_g">delete G</button>
      </div>
    </div>
  </div>
</div>
<div id="option_h">
  <div class="control-group">
    <label class="control-label">H</label>

    <div class="controls">
      <%= f.text_area :item_h, :rows => 3 %>
      <%= f.radio_button :keys, "H" %>
    </div>
  </div>
  <div class="control-group" id="btn_h">
    <div class="controls">
      <div class="btn-group">
        <button class="btn" type="button" id="btn_add_i">Add I</button>
        <button class="btn" type="button" id="btn_del_h">delete H</button>
      </div>
    </div>
  </div>
</div>
<div id="option_i">
  <div class="control-group">
    <label class="control-label">I</label>

    <div class="controls">
      <%= f.text_area :item_i, :rows => 3 %>
      <%= f.radio_button :keys, "I" %>
    </div>
  </div>
  <div class="control-group" id="btn_i">
    <div class="controls">
      <div class="btn-group">
        <button class="btn" type="button" id="btn_add_j">Add J</button>
        <button class="btn" type="button" id="btn_del_i">delete I</button>
      </div>
    </div>
  </div>
</div>
<div id="option_j">
  <div class="control-group" id="single_j">
    <label class="control-label">J</label>

    <div class="controls">
      <%= f.text_area :item_j, :rows => 3 %>
      <%= f.radio_button :keys, "J" %>
    </div>
  </div>
  <div class="control-group" id="btn_j">
    <div class="controls">
      <div class="btn-group">
        <button class="btn" type="button" id="btn_del_j">delete J</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    if (("#depot_item_b").value == null ) {
      $("#option_b").hide();
    }
    if (("#depot_item_c").value == null ) {
      $("#option_c").hide();
    }
    if (("#depot_item_d").value == null) {
      $("#option_d").hide();
    }
    if (("#depot_item_e").value == null) {
      $("#option_e").hide();
    }
    if (("#depot_item_f").value == null) {
      $("#option_f").hide();
    }
    if (("#depot_item_g").value == null) {
      $("#option_g").hide();
    }
    if (("#depot_item_h").value == null) {
      $("#option_h").hide();
    }
    if (("#depot_item_i").value == null) {
      $("#option_i").hide();
    }
    if (("#depot_item_j").value == null) {
      $("#option_j").hide();
    }
    $("#btn_add_b").on('click',function(){
      $("#btn_a").hide();
      $("#option_b").show(1000);
    });
    $("#btn_add_c").click(function(){
      $("#btn_b").hide();
      $("#option_c").show(1000);
    });
    $("#btn_add_d").click(function(){
      $("#btn_c").hide();
      $("#option_d").show(1000);
    });
    $("#btn_add_e").click(function(){
      $("#btn_d").hide();
      $("#option_e").show(1000);
    });
    $("#btn_add_f").click(function(){
      $("#btn_e").hide();
      $("#option_f").show(1000);
    });
    $("#btn_add_g").click(function(){
      $("#btn_f").hide();
      $("#option_g").show(1000);
    });
    $("#btn_add_h").click(function(){
      $("#btn_g").hide();
      $("#option_h").show(1000);
    });
    $("#btn_add_i").click(function(){
      $("#btn_h").hide();
      $("#option_i").show(1000);
    });
    $("#btn_add_j").click(function(){
      $("#btn_i").hide();
      $("#option_j").show(1000);
    });
    $("#btn_del_b").click(function(){
      $("#depot_keys_b").attr("checked", false);
      $("#depot_item_b").val("");
      $("#option_b").hide(500);
      $("#btn_a").show(500);
    });
    $("#btn_del_c").click(function(){
      $("#depot_keys_c").attr("checked", false);
      $("#depot_item_c").val("");
      $("#option_c").hide(500);
      $("#btn_b").show(500);
    });
    $("#btn_del_d").click(function(){
      $("#depot_keys_d").attr("checked", false);
      $("#depot_item_d").val("");
      $("#option_d").hide(500);
      $("#btn_c").show(500);
    });
    $("#btn_del_e").click(function(){
      $("#depot_keys_e").attr("checked", false);
      $("#depot_item_e").val("");
      $("#option_e").hide(500);
      $("#btn_d").show(500);
    });
    $("#btn_del_f").click(function(){
      $("#depot_keys_f").attr("checked", false);
      $("#depot_item_f").val("");
      $("#option_f").hide(500);
      $("#btn_e").show(500);
    });
    $("#btn_del_g").click(function(){
      $("#depot_keys_g").attr("checked", false);
      $("#depot_item_g").val("");
      $("#option_g").hide(500);
      $("#btn_f").show(500);
    });
    $("#btn_del_h").click(function(){
      $("#depot_keys_h").attr("checked", false);
      $("#depot_item_h").val("");
      $("#option_h").hide(500);
      $("#btn_g").show(500);
    });
    $("#btn_del_i").click(function(){
      $("#depot_keys_i").attr("checked", false);
      $("#depot_item_i").val("");
      $("#option_i").hide(500);
      $("#btn_h").show(500);
    });
    $("#btn_del_j").click(function(){
      $("#depot_keys_j").attr("checked", false);
      $("#depot_item_j").val("");
      $("#option_j").hide(500);
      $("#btn_i").show(500);
    });
  })

</script>
