<h3>题库列表</h3>


<% @depots.each do |depot| %>
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" data-src="holder.js/64x64">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= depot.category.title %></h4>
      <div class="media">
        <%= depot.title %>
      </div>
    </div>
  </div>
    <%= link_to 'Show', depot %>
    <%= link_to 'Edit', edit_depot_path(depot) %>
    <%= link_to 'Destroy', depot, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br />

<%= link_to 'New Depot', new_depot_path %>
