<%= form_for @depot, :html=>{:class=>"form-horizontal"} do |f| %>
  <fieldset>
    <legend> New depot </legend>
    <div class="control-group">
      <label class="control-label" for = "depot_category_id">Category</label>
      <div class="controls">
        <%= f.select :category_id, user_categories(current_user) %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for = "depot_title">Title</label>
      <div class="controls">
        <%= f.text_area :title, :rows => 5 %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit "create" %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="depot_typies">Typies</label>
      <div class="controls">
        <%= f.radio_button :typies, "single" %> <label for="depot_typies_single">single</label>
        <%= f.radio_button :typies, "much" %> <label for="depot_typies_much">much</label>
        <%= f.radio_button :typies, "judge" %> <label for="depot_typies_judge">jugde</label>
      </div>
    </div>
    <div id="subform"></div>



  </fieldset>
<% end %>

<%= link_to 'Back', depots_path %>
