<!DOCTYPE html>
<html>
<head>
  <title>Do</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
<div class="navbar-inner">
<%= render :partial => "/header" %>
</div>
<div class="navbar">
<div class="navbar-inner">
<div class="row-fluid">
    <div class="span9">
       <%= yield %>
    </div>
    <div class="span3 well">
      <%= render :partial => "sidebar" %>
    </div>
</div>
  </div>
 </div>

  <div class="navbar-inner">
  <div id="footer" class="span12">
    <%= %> footer
  </div>
                        </div>



</body>
</html>
